.detail{
    display: block;
    font-size:30px;

}


.Regis{
    display: inline-block;
    background: rgb(93, 166, 197);
    border-radius:0%;
    size:20px;
    padding-bottom:"20px";
    margin-bottom:"20px";
    margin-top:"40px";
}

.register-button {
    width: 400px; 
    height: 50px;
    size:80px;
  }



  