.know-your-rights-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .rights-list {
    list-style: none;
    padding: 0;
  }
  
  .right-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }
  
  .right-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color:rgb(244, 229, 211);
  }
  
  .right-description {
    font-size: 20px;
    font-color:black;
    line-height: 1.5;
    color: #98a4e3;
    margin-top:3px;
  }