 /* writing-mode: vertical-lr; */
 /* gap: 100px;
 /* transform:scaleX(-1);  */

 /* html{
  scroll-behavior:smooth;
 } */

/* overflow-x: scroll; */

/* scroll-snap-align: x mandatory; */

/* html{
  overflow:auto;
  resize:both;
} */

/* .box p{
  max-width:20rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:3;
  text-overflow:"ellipsis";
  overflow:hidden;
} */

/* html {
    font-size: 10rem;
    background: linear-gradient(to right,rgb(67,124,205), rgb(69,214,202));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
} */







.App {
  text-align: center;
  /* writing-mode: vertical-lr; */
  scroll-behavior:smooth;
  overflow-x: scroll;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.transition {
  transition: all 0.3s ease-in-out;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://img.freepik.com/free-photo/psychedelic-paper-shapes-with-copy-space_23-2149378246.jpg?w=1380&t=st=1682852509~exp=1682853109~hmac=f1e1561deba28b3eb9f7b14a585526d868db4927f8bf7922ddf3a14a4e3db97c');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
}






.fa-microblog {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #b4baba;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.faq__content {
  margin-bottom: 50px;
  border: #02022e;
}

h3 {
  color: #008080;
  font-size: 1.2em;
  margin-bottom: 10px;
}

p {
  color: #555;
  line-height: 1.6;
}

/* Optional: Add hover effect */
.faq__content:hover {
  background-color: #85d1e2;
  transition: background-color 0.3s ease;
}

body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f0f0f0; */
    background-color: #f5f5f5;
}


header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

header h1 {
  margin: 0;
}






/* APPOINTMENT */

.appointment-form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #6afafa;
  border-radius: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .appointment-form label {
  margin-bottom: 10px;

 }
 .appointment-form input[type="name"]{
  /* padding: 10px; */
  border: 5px solid #ccd1d4;
  border-radius: 20px;
  margin-bottom: 20px;
 }
 
 .appointment-form input[type="date"],
 .appointment-form input[type="time"] {
  padding: 10px;
  border: 5px solid #ccc;
  border-radius: 20px;
  margin-bottom: 20px;
 }
 
 .appointment-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
 }

.appointment-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 .appointment-form label {
  margin-bottom: 10px;
 }


 .appointment-form input[type="submit"]:hover {
  background-color: #0056b3;
  border-radius:5px;
 }

/* APPOINTMENT */



#about-us {
  
  background-color: #a3dbf0;
   margin: 20px 0;
   padding: 20px 0; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size:20px;
  padding: 2em;
}

article {
  line-height: 1.6;
}

article h2 {
  color: #333;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}



#services {
  background-color: #f5f5f5;
  padding: 60px 0;
}

.service-item {
  background-color: #8ebff0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  margin-top:15px;
  transition: transform 0.3s ease-in-out;
}

.service-item:hover {
  transform: translateY(-10px);
}

.service-item h3 {
  color: #333;
  margin-bottom: 75px;
}

.service-item p {
  color: #666;
}



.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  /* margin-bottom:30px; */
}


header {
    background-color: blueviolet;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #2e606c;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 2rem;
    overflow-y: scroll; 
}

.hero {
    text-align: center;
    background-color: #fff;
    padding: 5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cta-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #357ae8;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #555;
}

/* .services {
    margin-top: 2rem;
} */

.Abt {
  margin:auto;
  /* background-color: aqua; */
  /* padding:0vmax; */
  color:#202020;
  font-family:sans-serif;
  font-size:x-large;

}
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    /* margin-left:5rem; */
    margin-right: 5rem;
    max-width:85rem;
}
.pad{
    padding: 20px;
    font-size: 2rem;
    background: linear-gradient(to right,rgb(67,124,205), rgb(69,214,202));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;

    animation: fade 1s ease-in 1s;
    pointer-events: none;
    opacity: 75;

}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.pad1{
    padding: 5px;
    margin: 2px;
}
.cor{
    height: 600px;
    width: 800px;
}
.search{
    background-color: #f0f0f0;
    padding: 5px;
}

.search3{
    background-color: #f0f0f0;
    padding: 10px;
}

.col{
    color: #7dde82;

}

#Log{
  background-color:rgb(38, 212, 224);
  /* text-color:rgb(109, 205, 232); */

  /* border-color:rgb(1, 11, 15); */
  border-width: 0.3rem;
  /* border-radius: 0.5rem; */
  height: 2.5rem;
  width: 5rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b3d7de;
    margin: 0;
    padding: 0;
} */

.services {
    margin-top: 2rem;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #a0e5e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services h1 {
    font-size: 2rem;
}

.form {
    display: grid;
    grid-gap: 1em;
}



body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

header h1 {
  margin: 0;
}




nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}



/* Case Solving */
.case-solving-container1 {
  text-align: left;
  margin: 20px; /* Adjust the margin as per your design */
}

.h21, h31 {
  text-align: left;
}

.ol1, ul1 {
  text-align: left;
  margin-left: 20px; /* Adjust the margin as per your design */
}

.li1 {
  text-align: left;
}

/* Case Solving */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




.CHATBOT{
  /* text-color:hsla(0, 0%, 4%, 0.394); */
  background-color: #DD4B39;
  background-color: #8cafd6;
  padding: 5px;
  margin: 5px;
  border-radius: 0cap;
  font-size:"30px";
  background-image:inherit;
  font-size:larger;

}




/* FAQ.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  font-family: 'Arial', sans-serif;
}

.faq-dropdown {
  text-align: center;
}

.dropdown-btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

.dropdown-content button {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

#Crim{
  background-color: aqua;
}
#selected-question {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 30px;
  transition: transform 0.3s ease-in-out;
}

#selected-question:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#selected-question h3 {
  color: #333;
  margin-bottom: 10px;
}

#selected-question p {
  color: #666;
  margin-bottom: 0;
  line-height: 1.6;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}


textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

input[type=submit]:active {
  background-color: #3e8e41;
}

.Pro{
  color:black;

}



/*  Text to Speech CSS*/

.textAreaStyle{

  width: 500px;
  border-radius: 12px;
  height: 163px;
  border-width: 10px;
  border-color: cadetblue;
  margin-top: 25px;
  margin-bottom: 49px;
}

.buttonStyle{
  position:relative-top;
  color:#007bff;
  padding-top:5rem;
  padding-bottom:0%;
  margin-top: 95%;
  padding: 12px;
  border-radius: 10px;
  height:"1rem";
  font-weight: bold;
  border-width: 4px;
  margin-top:15px;
  align-items:center;
  margin-left: -33px;
  margin-right:0%
}







/* .search blue */
body1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f0f0f0;
}

.search-container {
    text-align: center;
    padding: 10px 20px;
    
    color: #ffffff;
    border: rgb(255, 253, 253);
    cursor: pointer;
}

.search-box {
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.1);
    border-radius: 25px;
    
    overflow: hidden;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.button1 {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #ffffff;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    cursor: pointer;
    border-width: 0px;
}

button:hover {
    background-color: #38b1bc;
}




#contact {
    padding: 30px;
    margin: 30px auto;
    width: 70%;
    background-color: rgba(26, 203, 47, 0.1);
    max-width: 600px;
    /* border: 1px solid #e6e2e2; */
    /* background-color: #ffffff;
    padding: 30px;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact label {
    margin-bottom: 5px;
}

#contact input,
#contact textarea {
    margin-bottom: 20px;
    padding: 10px;
    /* border: 1px solid #9b9696; */
    border: 1px solid #ddd;
    outline: none;
}

#contact button {
    padding: 10px 20px;
    background-color: #555;
    color: white;
    cursor: pointer;
    border: none;
}



        
  /* key features image card key features */
  .align{
    text-align: center;
    margin:20px;
    font-size: 35px;
  }
  .img{
    border-radius:10px;
    height: 150px;
    width: 180px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
  }
  .lawsession{
    border: 10px;
    border-radius: 25px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
    width: 350px;
    height: 300px;
    overflow: hidden;
    position: relative;
    padding-bottom: 35px;
    padding-top: 25px;
    /* gap: 100px; */
    /* flex-grow:1 ;
    flex-basis: 200; */
  }


.container1{
    /* gap: 15px; */
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 2rem;
    /* display: flex; */
    /* flex-wrap: wrap; */
}




/* nav style */
.nav-link{
 
  color:white;
}

.list{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.link{
  position: relative;
  display: inline-block;
  text-decoration: none;
  /* color: #00fffc; */
  font-weight: 600;
  color:white;
}

.nav-item .link {
    transition: color 0.3s ease-in-out;
    color:white;
}

.nav-item link:hover {
    color: #094eaf; 
    background: #333; 
    transition: background 0.3s ease-in-out;
}

.collapse navbar-collapse {
    position: relative;
}

.navbar-nav me-auto mt-2 mt-lg-0 ul list::after {
    content: '';
    display: block;
    width: 100;
    height: 2px;
    background: #3498db; /* Change to your desired underline color */
    transition: width 0.3s;
}

.nav-item link:hover::after {
    width: 100%;
}




 @keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } } 


    /* Footer */

@import url('shttps://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px; }
    .dk-footer .contact-us .contact-info {
      margin-left: 50px; }
    .dk-footer .contact-us.contact-us-last {
      margin-left: -80px; }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:#007bff; }

.dk-footer-box-info {
  position: absolute;
  top: -122px;
  background: #202020;
  padding: 40px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px; }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #98c2e2;
    margin-right: 5px;
    color: #fff; }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #B7242A; }

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px; }

.footer-info-text {
  margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: #007bff; }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff; }
  .dk-footer-form button:hover {
    cursor: pointer; } */


    /* Footer */

.p{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
.b{
  min-height: 100vh;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background: #3a3544;
  text-align: center;
  font-family: "Poppins";
}



#faq {
  background-color: #f5f5f5;
  padding: 60px 0;
  scroll-behavior:smooth;
}

.faq-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  transition: transform 0.3s ease-in-out;
}

.faq-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.faq-item h3 {
  color: #333;
  margin-bottom: 10px;
}

.faq-item p {
  color: #666;
  margin-bottom: 0;
  line-height: 1.6;
}

/* Add styling for the heading */
#faq h2 {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}


.ac{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
  gap:16px;
  transition: 0.3s;

}
.ac:hover{
  gap:0;
}
.ac h2{
  font-weight: 400;
  font-size: 24px;
  line-height: 45px;
  border-bottom:2px solid #fff;
  white-space:nowrap;
}
.ac li{
  position:relative;
  overflow: hidden;
  flex: 0 0 80px;
  border-radius: 50px;
  opacity: 0.75;
  cursor: pointer;
}
.ac li img{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ac li,
.ac li img,
.ac li .content,
.ac li .content span{
  transition: 0.3s;
}

.ac li .content{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index:1;
  color:#fff;
  padding: 15px;
  background: #02022e;
  background: linear-gradient(0deg,rgb(0 0 0 / 70%) 10%,rgb(255 255 255 / 0%) 100%);
  opacity:0;
  visibility: hidden;
}
.ac li
.content span{
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 50px;
  translate: -300px 0;
  visibility: hidden;
  opacity: 0;
}

.ac li:hover{
  flex: 0 1 260px;
  scale:1.1;
  z-index:10;
  opacity:1;

}

.ac li:hover
.content{
  opacity:1;
  visibility: visible;
}

.ac li:hover span{
  translate:-50% 0;
  opacity:1;
  visibility: visible;
}
.colour{
  color:white;
}